<div class="header-nav">
    <div class="img-vs-content">
      <img class="img-absolute"
        src="https://s3-alpha-sig.figma.com/img/b9b6/751e/10e512d44b0123f19fc4db5e2aeb85ca?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=K0Cm65n77DIEkuFC5F3Qgu5Gav~-A9kB0Um5sS5c3XRnDWg~O9debkO-ujN1J4SZfcCEi1afsmID-NLKd2SEI6HAO7yCkHFNJbNKemVeea-Fy2KBxYjzAedcsvQfR3E8K6Jj7OINZtIWhxw-CdkliXVge2k0lOR6ENLSv5WcRBLTgrbUVxwCZnRCDdatYSDndWzeCWhQqSyeBRlyudfGzmzhSlLSZrfF2BdyQn11zhAnaqPmZuxLLM3r16ieCJBTIiUmF4C6wJnHNCgeUty4enpZWV9vDc4uHrn1hIU9wl6JZte9gcs7u6DWRkF9CyDJxu5-IjbjBMkY8TOcovFhxA__"
        alt="">
      <div class="content">
        <span>PHÒNG KHÁM ĐA KHOA
          TRÂM ANH
        </span>
      </div>
    </div>
    <img class="img-logo"
      src="https://s3-alpha-sig.figma.com/img/2376/ff68/c53f06bb7bceb6fef55ab65401df4562?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=laHkjUT4KfDGidZsx801nPgP18Y5OMFEtVa9l0Icpo9JGGg7U929Wq-67qnH2z9s3yX82Pum5bTNhOntGIn3Y1pUohNwHgrUodHxCX-4ze9tAjavNBFxJ~~QJ7p8256YloYA6rBD9qfRqTuLgKBAUVlYa8WpmxeJnkNZQyblIp4E8FGjjPkXo8i0ZKmy5heuGx7mRB-WVMQq6wKcwy-8HikhbpOxA71yhm4MCf4rUBQC0uF58HL5HGjshebg2X0SmAtDgLUtCrxVtpBhvcoYG~u7tx~0rhCDccCjzb1YMNDhLtvLvTF4p-Cj5KlQiixwA9JoNnXA6JoCM6riJnTepg__"
      alt="">
  </div>
  <nav>
    <div class="nav-link">
      <div class="container container-custom">
        <a class="link" th:href="@{/}">
          <i class="fa-solid fa-house"></i>
        </a>
        <a class="link" th:href="@{/greeting}">GIỚI THIỆU</a>
        <a class="link" href="#">CHUYÊN KHOA</a>
        <a class="link" href="#">ĐỘI NGŨ BÁC SĨ</a>
        <a class="link" href="#">DỊCH VỤ</a>
        <a class="link" href="#">THÀNH TỰU</a>
        <a class="link" href="#">TIN TỨC</a>
        <a class="link" href="#">LIÊN HỆ</a>
        <a class="link" th:href="@{/register}">ĐĂNG NHẬP</a>
        <div class="line"></div>
      </div>
    </div>
  </nav>
  <div class="customer">
    <span class="content-TC">Trang chủ >></span>
    <span class="content-KH">Dành cho khách hàng</span>
  </div>